<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Prediksi Berat Badan</title>
</head>

<body class="bg-blue-100">
    <!-- component -->
    <!-- component -->
    <div class="bg-gray-200 min-h-screen pt-2 font-mono my-16">
        <div class="container flex mx-auto">
            <div class="inputs w-full max-w-2xl p-6">
                <h2 class="text-5xl text-gray-900">Prediksi Berat Badan</h2>
                <form class="mt-6 border-t border-gray-400 pt-4" method="POST" action="">
                    <div class='flex flex-wrap -mx-3 mb-6'>
                        <div class='w-full md:w-full px-7 mb-6'>
                            <label class='block uppercase tracking-wide text-gray-700 text-2xl font-bold mb-2'
                                for='grid-text-3'>Tinggi Badan</label>
                            <input type="text"
                                class='appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500'
                                id='grid-text-3' type='text' placeholder='Masukkan tinggi badan (cm)'
                                name="tinggi_badan" required>
                        </div>
                        <div class='w-full md:w-full px-7 mb-6'>
                            <label class='block uppercase tracking-wide text-gray-700 text-2xl font-bold mb-2'
                                for='grid-text-3'>Jenis Kelamin (Gender)</label>
                            <select class = "from-select text-3xl" aria-label = "Default select example" 
                            name="Jenis Kelamin (Gender)" required>
                                <option selecter value="Male">Male</option>
                                <option value="Female">Female</option>
                        </select>
                          
                        </div>
                        
                    </div>
                    <div class="flex justify-end ">
                        <button
                            class="appearance-none bg-gray-200 text-gray-1000 px-6 py-1 shadow-sm border border-gray-400 rounded-md hover:bg-gray-300 text-2xl"
                            type="submit">Prediksi</button>
                    </div>
            </div>
            </form>
            {% if result is defined %}
            <div class="prediction-result w-full max-w-2xl p-6">
                <br>
                <br>
                <br>
              

                <h2 class="text-2xl text-gray-900 font-bold mb-2">Berat Badan: </h2>
                <img class="my-3" src="static/img/hitung-berat-badan.png" alt="timbangan-berat">
                <h2 class="mx-auto text-3xl text-center px-2 py-2 bg-gray-300 rounded rounded-full mt-5">{{result}}</h1>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>